@media all and (max-width: 600px) {
    body {
        max-width: 90%;
        background: none;
    }

    #map {
    	height: 80px;
        border: 1px solid #000000;
    }

    #info {
    	height: 100px;
    }
}

#container {
    position: relative;
}

#map {
	height: 600px;
    width: 100%;
    float: left;
    margin-top: 5px;
}

#info {
	height: 550px;
	width: 50%
	margin-left: 1em;
	margin-bottom: 1em;
}

#IRE17 {
    float: left;
}

#CR17 {
    float: left;
}

#AU17 {
    float: left;
}

.tripselection {
    width: 25%;
    height: 100%;
    padding: 5px;
    position: relative;
    display: table;
}

.tripimg {
    width: 100%;
    border-radius: 10px;
}

.tripselection:hover .hovertext {
    visibility: visible;
    cursor: pointer;
}

.tripselection:hover .tripimg {
    opacity: 0.5;
    cursor: pointer;
}

.hovertext {
    visibility: hidden;
    display: table-cell;
    vertical-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    left: 0;
    right: 0;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

#zoomout:hover {
    cursor: pointer;
    color: darkblue;
}

.btn {
  border-radius: 10px;
  font-family: Arial;
  color: #453a45;
  font-size: 1em;
  /*background: #98d0f5;*/
  background: white;
  padding: 6px 10px 6px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

#buttons {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    position: absolute;
}

#legend {
    display: none;
}

#photos {
    width: 300px;
    height: 300px;
    background-color: blue;
    position: relative;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    display: none;
}