body {
    font-family: Roboto;
    background-size: 50%;
    background-repeat: no-repeat; 
    background-position: right top;
    color: #1E4F87;
}

#emailError {
    color: red;
}

@media all and (max-width: 600px) {
    body {
        max-width: 100%;
    }
}

.tagline {
    display: inline-block;
    font-size: 2em;
}

.quote {
    font-style: italic;
    text-align: center;
    font-size: 1.25em;
}

#ARview {
    width: 100%;
}

/*Dark blue #1E4F87
Mid blue #1594C1
Light blue #00aaed
*/


h1 {
    color: white;
    padding-bottom: 0.5em;
    text-align: center;
}

.blue {
    padding: 0.5em;
    background: #00aaed;
}

#input-form {
    text-align: center;
}

#success {
    display: none;
    text-align: center;
    color: #1E4F87; /*dark-blue */
    font-weight: bold;
    size: 2em;
}

input[type=text] {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.content {
    /*margin-top: 2em;*/
    margin-bottom: 2em;
}

.mockup {
    width: 100%;
}

#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   padding-top: 5px;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}